{
    0x0003 = "Enter"; 
    0x0009 = "Tab"; 
    0x000d = "Return"; 
    0x001b = "ESC"; 
    0x0020 = "Leertaste"; 
    0x007f = "Entfernen"; 
    0xf700 = "Pfeil nach oben"; 
    0xf701 = "Pfeil nach unten"; 
    0xf702 = "Pfeil nach links"; 
    0xf703 = "Pfeil nach rechts"; 
    0xf704 = "F1"; 
    0xf705 = "F2"; 
    0xf706 = "F3"; 
    0xf707 = "F4"; 
    0xf708 = "F5"; 
    0xf709 = "F6"; 
    0xf70a = "F7"; 
    0xf70b = "F8"; 
    0xf70c = "F9"; 
    0xf70d = "F10"; 
    0xf70e = "F11"; 
    0xf70f = "F12"; 
    0xf710 = "F13"; 
    0xf711 = "F14"; 
    0xf712 = "F15"; 
    0xf727 = "Einf\U00fcgen"; 
    0xf728 = "Del"; 
    0xf729 = "Privat"; 
    0xf72B = "Ende"; 
    0xf72C = "Seite hoch"; 
    0xf72D = "Seite runter"; 
    0xf739 = "L\U00f6schen"; 
}