<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.wincent.SynergyPreferences</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>version WO_INFO_PLIST_VERSION</string>
	<key>CFBundleVersion</key>
	<string>WO_BUILDNUMBER</string>
	<key>WOMarketingVersion</key>
	<string>WO_INFO_PLIST_VERSION</string>
	<key>NSMainNibFile</key>
	<string>SynergyPreferences</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>Synergy.icns</string>
	<key>WOCopyrightYear</key>
	<string>WO_COPYRIGHT_YEAR</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
</dict>
</plist>
